<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('List Users', 'none')}" />
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation::menu}"></div>
		<h1 class="text-center mt-5">Manage Users</h1>
		<div th:replace="~{fragments::alert_message_box}"></div>
		<a
			th:href="@{/users/showAdd}"
			class="btn btn-primary"
		>Add new</a>
		<div th:replace="~{fragments::search_form('/users', 'user')}"></div>
		<table class="table table-responsive-xl table-bordered table-hover">
			<thead>
				<tr>
					<th th:replace="~{fragments::column_link('/users', 'id', 'ID')}" />
					<th scope="col">Photo</th>
					<th th:replace="~{fragments::column_link('/users', 'email', 'Email')}" />
					<th th:replace="~{fragments::column_link('/users', 'fullName', 'Full name')}" />
					<th scope="col">Roles</th>
					<th th:replace="~{fragments::column_link('/users', 'enabled', 'Enabled')}" />
					<th scope="col">Activities</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userDTO : ${listUserDTOs}">
					<td>[[${userDTO.id}]]</td>
					<td class="d-flex justify-content-center align-items-center">
						<span
							th:if="${userDTO.photo == null}"
							class="fa-solid fa-user fa-3x"
						></span>
						<img
							width="80px"
							height="80px"
							th:if="${userDTO.photo != null}"
							th:src="@{${userDTO.photoImagePath}}"
						/>
					</td>
					<td>[[${userDTO.email}]]</td>
					<td>[[${userDTO.fullName}]]</td>
					<td>[[${userDTO.setRoleDTOs}]]</td>
					<td>
						<div
							th:replace="~{fragments::enabled_status(${userDTO.enabled}, 'user', '/users/' + ${userDTO.id}, ${userDTO.id})}"
						></div>
					</td>
					<td>
						<div th:replace="~{fragments::edit('user', '/users/showEdit/' + ${userDTO.id})}"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:replace="~{fragments::pagination('/users', 'users')}"></div>

		<div th:replace="~{fragments::confirm_modal}"></div>
		<div th:replace="~{fragments::footer}"></div>
	</div>

	<script type="text/javascript">
		const moduleURL = "[[@{/users}]]";

		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});

		$(document).ready(function() {
			$(".link-enabled-true").on("click", function(e) {
				e.preventDefault();
				showConfirmModal($(this), 'user', 'You want to enable');
			});
			
			$(".link-enabled-false").on("click", function(e) {
				e.preventDefault();
				showConfirmModal($(this), 'user', 'You definitely want to disable');
			});
		});
	</script>

</body>
</html>