<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div
		th:fragment="content"
		th:remove="tag"
	>
		<div class="my-4">
			<label class="fw-bold">Title <span class="text-danger">(*)</span>:</label>
			<input
				class="form-control"
				th:field="*{title}"
			/>
			<span
				th:if="${#fields.hasErrors('title')}"
				th:errors="${newsFormAddDTO.title}"
				class="text-danger"
			>Title Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Enabled:</label>
			<div class="form-check form-switch mt-2">
				<input
					class="form-check-input"
					type="checkbox"
					id="enabled"
					th:field="*{enabled}"
				/>
			</div>
		</div>

		<div class="my-4">
			<label class="fw-bold">Thumbnail:</label>

			<input
				type="hidden"
				th:field="*{thumbnail}"
			/>
			<input
				type="file"
				id="fileImage"
				name="image"
				accept="image/png, image/jpeg, image/webp"
			/>

			<span
				th:if="${error != null}"
				class="text-danger"
			>[[${error}]]</span>
			<img
				width="150px"
				class="img-fluid mt-2"
				id="thumbnailNews"
				alt="thumbnail"
				th:src="@{${newsFormAddDTO.thumbnailPath}}"
			/>
			<small>Please select a file smaller than 1MB.</small>
		</div>

	</div>
</body>
</html>