<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:replace="~{fragments :: page_head('Home', 'none')}" />
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation::menu}"></div>
		<div th:replace="~{fragments::alert_message_box}"></div>
		<h1>Admin Dashboard</h1>
		<h2>
			Welcome
			<a
				sec:authentication="principal.fullName"
				th:href="@{/account}"
			></a>
			<span sec:authentication="principal.authorities"></span>
		</h2>
		<div th:replace="~{fragments::footer}"></div>
	</div>
</body>
</html>