/*********************contact****************/
.contact_1lil span i {
	width: 70px;
	height: 70px;
	line-height: 70px;
}

.contact_1lil span:hover i {
	background: #5e9cea !important;
	color: #fff !important;
}

.sub_pg_1 .form-control {
	height: 45px;
}
/*********************contact_end****************/
@media screen and (max-width : 767px) {
	.contact_1li {
		text-align: center;
	}
	.contact_1r {
		margin-top: 15px;
		text-align: center;
	}
	.sub_pg_1 {
		width: 100% !important;
	}
	.sub_pg_1_inner_left {
		margin-top: 10px;
	}
	.sub_pg_1_inner_left .button {
		width: 100% !important;
	}
}

@media ( min-width :576px) and (max-width:767px) {
}

@media ( min-width :768px) and (max-width:991px) {
	.contact_1lil span i {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px !important;
	}
	.contact_1lil span {
		padding: 10px !important;
	}
	.sub_pg_1 {
		width: 70% !important;
	}
}

@media ( min-width :992px) and (max-width:1200px) {
	.contact_1lil span i {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px !important;
	}
}