/*********************blog****************/
.blog_pgm1i .form-select {
	height: 40px;
}

.blog_pgdt1ir ul li a {
	width: 35px;
	height: 35px;
	background: #666;
}

.blog_pgdt1ir ul li a i {
	line-height: 35px;
}

.blog_pgdt2ir h5 span a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	transition: 0.3s;
}

.blog_pgdt2ir h5 span a:hover {
	background: #5e9cea;
	color: #fff;
	border: 1px solid #5e9cea;
}

/*********************blog_end****************/
@media screen and (max-width : 767px) {
	.center_h1l2 {
		text-align: center;
	}
	.center_h1r {
		padding: 0 !important;
		margin-top: 15px;
	}
	.greet_1r {
		margin-top: 15px;
		text-align: center;
	}
	.greet_1r p {
		text-align: left;
	}
	.greet_1r .button {
		padding: 12px 20px 12px 20px;
	}
	.greet_1r .button_1 {
		padding: 12px 20px 12px 20px;
	}
	.blog_h1l2r {
		margin-top: 15px;
	}
	.blog_h1l2r h6 {
		text-align: center;
	}
	.blog_h1l3l {
		text-align: center;
		margin-bottom: 15px;
	}
	.blog_h1l3ri1 .blog_h1l2r {
		margin-top: 0;
	}
	.blog_h1l3ri1 .blog_h1l2r h6 {
		text-align: left;
	}
	.blog_h1l3ri1 .blog_h1l2 {
		margin-top: 10px;
	}
	.blog_h1l4i {
		margin-top: 10px;
	}
	.blog_h1l4  .blog_h1l4i h6 {
		text-align: center;
	}
	.blog_h1r {
		margin-top: 20px;
	}
	.blog_h1r2 {
		text-align: center;
	}
	.blog_h1r3   h5 {
		text-align: center;
	}
	.blog_h1r3  h6 {
		text-align: center;
	}
	.about_1i {
		text-align: center;
	}
	.about_1i p {
		text-align: left;
	}
	.about_1ii img {
		float: none !important;
		margin-right: 0 !important;
		margin-bottom: 15px;
		width: 100%;
	}
	.blog_pgl2  h5 {
		text-align: center;
	}
	.blog_pgl2  ul {
		text-align: center;
	}
	.blog_pgl2  h6 {
		text-align: center;
	}
	.art {
		margin-top: 15px;
	}
	.art_1 {
		text-align: center;
	}
	.blog_pgm1i {
		margin-top: 15px;
	}
	.art_dt1 ul {
		text-align: center !important;
	}
	.art_dt1 {
		text-align: center;
	}
	.art_dt1 p {
		text-align: left;
	}
	.art_dt1ir {
		margin-top: 15px;
	}
	.blog_pgdt1ir {
		margin-top: 15px;
		text-align: left !important;
	}
	.blog_pgdt2  h4 {
		text-align: center;
	}
	.blog_pgdt3  h4 {
		text-align: center;
	}
	.blog_pgdt3il .form-control {
		margin-top: 15px;
	}
	.blog_pgdt3il h6 {
		text-align: center;
	}
	.login_1l h5 {
		text-align: center;
	}
	.login_1r {
		margin-top: 15px;
	}
	.login_1ril h6 {
		text-align: center;
	}
	.login_1ril {
		margin-bottom: 15px;
	}
	.center_h1r br {
		display: none;
	}
}

@media ( min-width :576px) and (max-width:767px) {
	.blog_h1l2r h5 {
		text-align: center;
	}
	.blog_h1l3ri1  .blog_h1l2r h5 {
		text-align: left;
	}
	.blog_h1l2l img {
		height: auto;
	}
	.blog_h1l4i img {
		height: auto;
	}
	.blog_h1l4i h5 {
		text-align: center;
	}
}

@media ( min-width :768px) and (max-width:991px) {
	.center_h1r {
		padding: 0 !important;
	}
	.center_h1r br {
		display: none;
	}
	.blog_pgl2  .form-check {
		font-size: 12px;
	}
	.blog_pgl2 ul li {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.center_h1r  p {
		font-size: 14px !important;
	}
}

@media ( min-width :992px) and (max-width:1200px) {
	.center_h1r {
		padding: 0 !important;
	}
	.blog_pgl2 ul li {
		margin-top: 3px;
		margin-bottom: 3px;
	}
}

@media ( min-width :1201px) and (max-width:1360px) {
}