* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
    margin-bottom:50px;
}

*.icon-white{color: white;}
*.icon-dark {color: gray;}
*.icon-green {color: #65B741;}
*.icon-silver {color: silver;}
*.icon-red {color: red;}
*.icon-blue {color: #4942E4;}
*.icon-yellow {color: #FFA700;}

#footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}