<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="~{fragments :: page_head('Thêm mới hồ sơ thành viên lab', 'tag')}" />
<link
	rel="stylesheet"
	th:href="@{/richtext/richtext.min.css}"
/>
<script
	type="text/javascript"
	th:src="@{/richtext/jquery.richtext.min.js}"
></script>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation::menu}"></div>
		<h1 class="text-center">Thêm mới hồ sơ thành viên lab</h1>
		<div th:replace="~{fragments::alert_message_box}"></div>
		<form
			th:action="@{/members/add}"
			th:object="${memberLabProfileFormAddDTO}"
			method="POST"
			style="max-width: 1000px; margin: 0 auto"
			enctype="multipart/form-data"
		>
			<div class="border border-secondary rounded p-3">
				<div class="my-4">
					<label>Thành viên:</label>
					<select
						th:field="*{user}"
						class="form-select"
						required
					>
						<th:block th:each="user : ${listUsers}">
							<option th:value="${user.id}">[[${user.fullName}]] - [[${user.email}]]</option>
						</th:block>
					</select>
				</div>

				<div class="my-4">
					<label>Học hàm/Học vị:</label>
					<input
						class="form-control"
						th:field="*{academicRank}"
					/>
					<span
						th:if="${#fields.hasErrors('academicRank')}"
						th:errors="${memberLabProfileFormAddDTO.academicRank}"
						class="text-danger"
					>Academic Rank Error</span>
				</div>

				<div class="my-4">
					<label>Đơn vị đang công tác:</label>
					<input
						class="form-control"
						th:field="*{currentOrganization}"
					/>
					<span
						th:if="${#fields.hasErrors('currentOrganization')}"
						th:errors="${memberLabProfileFormAddDTO.currentOrganization}"
						class="text-danger"
					>Current Organization Error</span>
				</div>

				<div class="my-4">
					<label>Lĩnh vực nghiên cứu:</label>
					<input
						class="form-control"
						th:field="*{researchInterests}"
					/>
					<span
						th:if="${#fields.hasErrors('researchInterests')}"
						th:errors="${memberLabProfileFormAddDTO.researchInterests}"
						class="text-danger"
					>Research Interests Error</span>
				</div>

				<div class="my-4">
					<label>Email public:</label>
					<input
						class="form-control"
						th:field="*{emailPublic}"
					/>
					<span
						th:if="${#fields.hasErrors('emailPublic')}"
						th:errors="${memberLabProfileFormAddDTO.emailPublic}"
						class="text-danger"
					>Email Public Error</span>
				</div>

				<div class="my-4">
					<label>Ngày vào lab:</label>
					<input
						class="form-control"
						type="date"
						th:field="*{joinDate}"
						required
					/>
				</div>

				<div class="my-4">
					<label>Ngày tốt nghiệp:</label>
					<input
						class="form-control"
						type="date"
						th:field="*{leaveDate}"
					/>
				</div>
				
				<div class="my-4">
					<label>Enabled:</label>
					<div class="form-check form-switch mt-2">
						<input
							class="form-check-input"
							type="checkbox"
							id="enabled"
							th:field="*{enabled}"
						/>
					</div>
				</div>

				<div class="my-4">
					<label>Avatar:</label>

					<input
						type="hidden"
						th:field="*{avatar}"
					/>
					<input
						type="file"
						id="fileImage"
						name="image"
						accept="image/png, image/jpeg, image/webp"
					/>

					<span
						th:if="${error != null}"
						class="text-danger"
					>[[${error}]]</span>
					<img
						width="150px"
						class="img-fluid mt-2"
						id="thumbnail"
						alt="avatar"
						th:src="@{${memberLabProfileFormAddDTO.avatarPath}}"
					/>
					<small>Vui lòng chọn file có kích thước dưới 1MB</small>
				</div>

				<div class="my-4">
					<label>Bio:</label>
					<textarea
						class="form-control"
						th:field="*{bio}"
						rows="10"
					></textarea>
					<span
						th:if="${#fields.hasErrors('bio')}"
						th:errors="${memberLabProfileFormAddDTO.bio}"
						class="text-danger"
					>Bio Error</span>
				</div>

				<div class="text-center">
					<input
						type="submit"
						value="Thêm mới"
						class="btn btn-primary m-3"
					/>
					<input
						type="button"
						value="Thoát"
						class="btn btn-secondary"
						id="buttonCancel"
					/>
				</div>
			</div>
		</form>
		<div th:replace="~{fragments::footer}"></div>
	</div>

	<script type="text/javascript">
		const moduleURL = "[[@{/members}]]";
		$(document).ready(function () {
			$('#bio').richText();
		});
	</script>
	<script
		type="text/javascript"
		th:src="@{/js/common_form.js}"
	></script>
</body>
</html>