<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div
		th:fragment="content"
		th:remove="tag"
	>
		<div class="my-4">
			<label class="fw-bold">Profile ID:</label>
			<input
				class="form-control"
				th:field="*{id}"
				readonly="readonly"
			/>
		</div>

		<div class="my-4">
			<label class="fw-bold">Full name:</label>
			<input
				class="form-control"
				th:field="*{fullName}"
				readonly="readonly"
			/>
		</div>

		<div class="my-4">
			<label class="fw-bold">Academic rank:</label>
			<input
				class="form-control"
				th:field="*{academicRank}"
			/>
			<span
				th:if="${#fields.hasErrors('academicRank')}"
				th:errors="${memberLabProfileFormEditDTO.academicRank}"
				class="text-danger"
			>Academic Rank Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Current Organization:</label>
			<input
				class="form-control"
				th:field="*{currentOrganization}"
			/>
			<span
				th:if="${#fields.hasErrors('currentOrganization')}"
				th:errors="${memberLabProfileFormEditDTO.currentOrganization}"
				class="text-danger"
			>Current Organization Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Research Interests:</label>
			<input
				class="form-control"
				th:field="*{researchInterests}"
			/>
			<span
				th:if="${#fields.hasErrors('researchInterests')}"
				th:errors="${memberLabProfileFormEditDTO.researchInterests}"
				class="text-danger"
			>Research Interests Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Email public:</label>
			<input
				class="form-control"
				th:field="*{emailPublic}"
			/>
			<span
				th:if="${#fields.hasErrors('emailPublic')}"
				th:errors="${memberLabProfileFormEditDTO.emailPublic}"
				class="text-danger"
			>Email Public Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Join date <span class="text-danger">(*)</span>:</label>
			<input
				class="form-control"
				type="date"
				th:field="*{joinDate}"
				required
			/>
			<span
				th:if="${#fields.hasErrors('joinDate')}"
				th:errors="${memberLabProfileFormEditDTO.joinDate}"
				class="text-danger"
			>Join Date Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Graduation date:</label>
			<input
				class="form-control"
				type="date"
				th:field="*{leaveDate}"
			/>
			<span
				th:if="${#fields.hasErrors('leaveDate')}"
				th:errors="${memberLabProfileFormEditDTO.leaveDate}"
				class="text-danger"
			>Leave Date Error</span>
		</div>

		<div class="my-4">
			<label class="fw-bold">Enabled:</label>
			<div class="form-check form-switch mt-2">
				<input
					class="form-check-input"
					type="checkbox"
					id="enabled"
					th:field="*{enabled}"
				/>
			</div>
		</div>

		<div class="my-4">
			<label class="fw-bold">Avatar:</label>

			<input
				type="hidden"
				th:field="*{avatar}"
			/>
			<input
				type="file"
				id="fileImage"
				name="image"
				accept="image/png, image/jpeg, image/webp"
			/>

			<span
				th:if="${error != null}"
				class="text-danger"
			>[[${error}]]</span>
			<img
				width="150px"
				class="img-fluid mt-2"
				id="thumbnail"
				alt="avatar"
				th:src="@{${memberLabProfileFormEditDTO.avatarPath}}"
			/>
			<small>Please select a file smaller than 1MB.</small>
		</div>
	</div>
</body>
</html>