<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div
		th:fragment="content"
		th:remove="tag"
	>
		<div class="my-4">
			<label>Title:</label>
			<input
				class="form-control"
				th:field="*{title}"
			/>
			<span
				th:if="${#fields.hasErrors('title')}"
				th:errors="${projectFormEditDTO.title}"
				class="text-danger"
			>Title Error</span>
		</div>

		<div class="my-4">
			<label>Sponsor:</label>
			<input
				class="form-control"
				th:field="*{sponsor}"
			/>
			<span
				th:if="${#fields.hasErrors('sponsor')}"
				th:errors="${projectFormEditDTO.sponsor}"
				class="text-danger"
			>Sponsor Error</span>
		</div>

		<div class="my-4">
			<label>Budget (NTD):</label>
			<input
				class="form-control"
				type="text"
				th:field="*{budget}"
				required
			/>
			<span
				th:if="${#fields.hasErrors('budget')}"
				th:errors="${projectFormEditDTO.budget}"
				class="text-danger"
			>Budget Error</span>
		</div>

		<div class="my-4">
			<label>Start Date:</label>
			<input
				class="form-control"
				type="date"
				th:field="*{startDate}"
				required
			/>
			<span
				th:if="${#fields.hasErrors('startDate')}"
				th:errors="${projectFormEditDTO.startDate}"
				class="text-danger"
			>Start Date Error</span>
		</div>

		<div class="my-4">
			<label>End Date:</label>
			<input
				class="form-control"
				type="date"
				th:field="*{endDate}"
			/>
			<span
				th:if="${#fields.hasErrors('endDate')}"
				th:errors="${projectFormEditDTO.endDate}"
				class="text-danger"
			>End Date Error</span>
		</div>

		<div class="my-4">
			<label>Enabled:</label>
			<div class="form-check form-switch mt-2">
				<input
					class="form-check-input"
					type="checkbox"
					id="enabled"
					th:field="*{enabled}"
				/>
			</div>
		</div>

		<div class="my-4">
			<label>Thumbnail:</label>

			<input
				type="hidden"
				th:field="*{thumbnail}"
			/>
			<input
				type="file"
				id="fileImage"
				name="image"
				accept="image/png, image/jpeg, image/webp"
			/>

			<span
				th:if="${error != null}"
				class="text-danger"
			>[[${error}]]</span>
			<img
				width="150px"
				class="img-fluid mt-2"
				id="thumbnailProject"
				alt="thumbnail"
				th:src="@{${projectFormEditDTO.thumbnailPath}}"
			/>
			<small>Vui lòng chọn file có kích thước dưới 1MB</small>
		</div>

		<div class="my-4">
			<label>List members:</label>
			<select
				class="form-select"
				th:field="*{members}"
				multiple
				style="resize: vertical; height: 100px"
			>
				<th:block th:each="member : ${listMembers}">
					<option th:value="${member.id}">[[${member.fullName}]]</option>
				</th:block>
			</select>
		</div>
	</div>
</body>
</html>